
.container{width:978px;margin:0 auto;padding:0;}
/*---------------main--------------*/
#l_main{width:100%;background-color: #F6F6F6;overflow:hidden;padding-top: 26px;}
#l_main .container{height: 455px;background-color: #fff;}
#l_main .main_t {height: 64px;border-bottom: 1px solid #bbb;padding:0 55px 0 50px;}
#l_main .main_t p{line-height: 20px;margin-top: 20px;}
#l_main .main_t p span{display:inline-block;}
#l_main .main_t p.fl span:nth-child(1){color:#FF464E;font-size: 20px;}
#l_main .main_t p.fl i{display:inline-block;width: 1px;height: 26px;background-color: #bbb;margin:0 10px;transform:rotate(20deg);}
#l_main .main_t p.fr{color:#ccc;}
#l_main .main_t p.fr a{font-size: 20px;}
#l_main .main_b_l{width: 280px;margin-left: 160px;}
#l_main .main_b_l>div{width: 100%;height: 40px;border:1px solid #000;margin-top: 30px;}
#l_main .main_b_l>div div{display:inline-block;width: 42px;background-color: #F9F9F9;height: 100%;text-align: center;line-height: 38px;font-size: 20px;}
#l_main .main_b_l div:nth-child(3){border:0 none;font-size: 12px;}
#l_main .main_b_l div:nth-child(3) label input{display:inline-block;line-height: 38px;margin:0;}
#l_main .main_b_l div:nth-child(4){margin:0;border:0 none;}
#l_main .main_b_l div:nth-child(4) input{display:block;width: 100%;height: 40px;background-color: #FF4251;color:#fff;}
#l_main .main_b_l div:nth-child(5){border:0 none;}
#l_main .main_b_l div:nth-child(5) .fl a{display:inline-block;width: 23px;height: 23px;background: url(./img/sprites.fw.png) no-repeat;}
#l_main .main_b_l div:nth-child(5) a:nth-child(3){background-position: -12px -5px;}
#l_main .main_b_l div:nth-child(5) a:nth-child(3):hover{background-position: -143px -3px;}
#l_main .main_b_l div:nth-child(5) a:nth-child(4){background-position: -41px -5px;}
#l_main .main_b_l div:nth-child(5) a:nth-child(4):hover{background-position: -180px -2px;}
#l_main .main_b_l div:nth-child(5) a:nth-child(5){background-position: -70px -5px;}
#l_main .main_b_l div:nth-child(5) a:nth-child(5){background-position: -107px -2px;}
#l_main .main_b_l div:nth-child(5) .fr{margin-top: 10px;}
#l_main .main_b_l div:nth-child(5) .fr a{color:#000;}
#l_main .main_b_l div:nth-child(5) .fa{font-size: 30px;}
#l_main .main_b_r{margin:30px 67px 0 0;}
#r_bottom{height: 200px;}